.contact-form {
    width: 90%;
    margin: 0 auto;
}

.map-box input[type=text],
.map-box input[type=email],
.map-box select,
.map-box textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #cccccc;
}

.map-box input[type=text]:hover,
.map-box input[type=email]:hover,
.map-box select:hover,
.map-box textarea:hover {
    border-top: 1px solid #e67e22;
}

.map-box textarea {
    height: 100px;
    resize: none;
}

.map-box input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {outline: none;}  /* fix google blue hover */

.map-box {
    widows: 100%;
    height: 560px;
    position: relative;
}

.map {
    width: 100%;
    height: 560px;
    position: relative;
    z-index: 0; 
}

.form-box {
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;
    height: 560px;
    padding-top: 40px;
}
