* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato','Areal', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0.7)),to(rgba(0,0,0,0.7))),url(img/hero.jpg);
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/hero.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero_txt_box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 200%;
    word-spacing: 4px;
}

.btn:link,
.btn:visited,
.map-box input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    border: 1px solid #e67e22;
    background-color: #e67e22;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn_ghost:link,
.btn_ghost:visited {
    background-color: transparent;
    color: #e67e22;
    margin-left: 15px;
}

.btn:hover,
.btn:active,
.map-box input[type=submit]:hover {
    background-color: #cf6d17; 
}

.btn:hover,
.btn:active {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    border: 1px solid #e67e22;
}

.btn_ghost:hover,
.btn_ghost:active {
    background-color: #e67e22;
    color: #fff;
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-black {
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}

.main_nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main_nav li {
    display: inline-block;
    margin-left: 40px;
}

.main_nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main_nav li {
    display: inline-block;
    margin-left: 40px;
}

.main_nav li a:link,
.main_nav li a:visited {
        padding: 8px 0;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 90%;
        -webkit-transition: border-bottom 0.2s;
        transition: border-bottom 0.2s;
}

.main_nav li a:hover,
.main_nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/* mobile-nav */
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}



/* sticky nav */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;  /* top of all elements */
}

.sticky .main_nav {margin-top: 18px;}

.sticky .main_nav li a:link,
.sticky .main_nav li a:visited {
        padding: 17px 0;
        color: #555;
}
.sticky .logo {display: none;}
.sticky .logo-black {display: block;}








